@import "tailwindcss";

@theme {
    --spacing: 10px;
    --spacing-px: 1px;
    --spacing-0-5: 5px;

    --radius-1: 10px;
    --radius-2: 20px;
    --radius-3: 30px;
    --radius-4: 40px;
    --radius-5: 50px;
    --radius-6: 60px;
    --radius-7: 70px;
    --radius-8: 80px;
    --radius-9: 90px;
    --radius-10: 100px;

    --text-1: 10px;
    --text-2: 20px;
    --text-3: 30px;
    --text-4: 40px;
    --text-5: 50px;
    --text-6: 60px;
    --text-7: 70px;
    --text-8: 80px;
    --text-9: 90px;
    --text-10: 100px;


    --color-base-dark-darkTheme: #15191E;
    --color-base-medium-darkTheme: #191E24;
    --color-base-light-darkTheme: #1D232A;

    --color-text-darkTheme: #ffffff;

    --color-primary-darkTheme: #605DFF;
    --color-secondary-darkTheme: #f43098;
}